<div class="card mb-4 box-shadow">
  <div class="card-body">
    <h5 class="card-title text-muted">{{item.id}}</h5>
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <form [formGroup]="itemForm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Type</span>
        </div>
        <input type="text" disabled class="form-control" formControlName="type">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Quantity</span>
        </div>
        <input type="text" class="form-control" formControlName="quantity">
      </div>
    </form>
  </div>
</div>
