<div class="card mb-4 box-shadow">
  <div class="card-body">
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <form [formGroup]="itemForm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Type</span>
        </div>
        <input type="text" disabled class="form-control" formControlName="type">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Quantity</span>
        </div>
        <input type="number" class="form-control" formControlName="quantity">
      </div>
      <ng-container *ngIf="schema">
        <div *ngFor="let property of allProperties" formGroupName="properties" class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">{{property.name}}</span>
          </div>
          <input [type]="property.type" class="form-control" formControlName="{{property.name}}">
        </div>
      </ng-container>
    </form>
    <small class="text-muted">ID: {{item.id}}</small>
  </div>
  <div class="card-footer">
    <small class="text-muted">{{footerMessage}}</small>
    <button (click)="attemptDelete()" *ngIf="!showConfirmDelete" type="button" class="btn btn-secondary btn-sm float-right"><i class="far fa-trash-alt"></i></button>
    <button (click)="delete()" *ngIf="showConfirmDelete" type="button" class="btn btn-danger btn-sm float-right">Confirm</button>
  </div>
</div>
