<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand">Inventory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="userService.token">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="all-items">Items</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="item-schemas">Schemas</a>
        </li>
      </ng-container>
    </ul>
    <ul *ngIf="userService.token" class="nav navbar-nav flex-row justify-content-between ml-auto">
      <li class="dropdown order-1">
        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">
          {{userService.loginResponse.firstName}} {{userService.loginResponse.lastName}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right mt-2">
          <li class="px-3 py-2 img-container">
            <img alt="Profile Picture" src="{{userService.pictureUrl}}">
          </li>
          <li class="px-3 py-2">
            <button (click)="logout()" class="btn btn-secondary btn-block">Log out</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
