<div class="card mb-4 box-shadow">
  <div class="card-body">
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <form [formGroup]="schemaForm" (ngSubmit)="save()">
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default"
               aria-describedby="inputGroup-sizing-default"
               [ngClass]="{'is-invalid': !schemaForm.get('name').valid }"
               formControlName="name">
      </div>
      <ng-container formArrayName="properties">
        <ng-container *ngFor="let property of properties.controls; let i=index">
          <div [formGroupName]="i" class="form-row mt-2">
              <div class="col-5">
                <input type="text" class="form-control" formControlName="name" placeholder="Field Name"
                       [ngClass]="{'is-invalid': !property.get('name').valid }">
              </div>
              <div class="col-5">
                <select class="form-control" formControlName="type">
                  <option *ngFor="let type of itemPropertyTypes" [ngValue]="type.value">{{type.label}}</option>
                </select>
              </div>
              <div class="col">
                <button (click)="removeProperty(i)" type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
              </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="row mt-2">
        <div class="col">
          <button (click)="addNewPropertyToForm()" type="button" class="btn btn-block btn-primary">
            <i class="fas fa-plus-circle"></i>
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <button [disabled]="!changed" type="submit" class="btn btn-block btn-success">
            <i class="far fa-save"></i>
          </button>
        </div>
      </div>
    </form>
    <small class="text-muted">ID: {{schema.id}}</small>
  </div>
  <div class="card-footer">
    <small *ngIf="footerMessage" class="text-muted">{{footerMessage}}</small>
    <button (click)="showDeleteModal(content, schema)" type="button" class="btn btn-secondary btn-sm float-right"><i class="far fa-trash-alt"></i></button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Are you sure?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">
        <i class="fas fa-times"></i>
      </span>
    </button>
  </div>
  <div class="modal-body">
    <p>Deleting item schema will not remove associated items but it will mark them as untyped. This action is irreversible.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Delete</button>
  </div>
</ng-template>
